{% extends 'base.html' %}
{% block content %}

<div class="card-body">

<div class="page-title-contianer">
<h1>{{addon.name}} Details</h1>
</div>




<div class="detail-supply-container">
        <span class="card-title">
          <span style="color: {{ addon.color }}">{{ addon.color }}</span> {{ addon.name }}
       </span>
        <p>Description: {{ addon.description}}</p>
      


      <div class="edit-delete-container2">
        {% if user == addon.user %}
        <div class=edit-btn>
        <a href="{% url 'addons_update' addon.id %}">Edit</a>
      </div>
        <a href="{% url 'addons_delete' addon.id %}">Delete</a>
        {% endif %}
    </div>
  </div>


</div>


{% endblock %}