{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-content">
    <h2 >{{ toxic.name }} Details</h2>
    <h5>Description:</h5>
    <p>{{ toxic.description }}</p>
    <h5>Fun Fact:</h5>
    <p>{{ toxic.funfact }}</p>
    <h5>Toxic Level:</h5>
    <p>{{toxic.howtoxic}}</p>

    <h5>Comments:</h5>
    {% if toxic.ratings.count %}
        {% for rating in toxic.ratings.all %}
            <p>Comments: {{ rating.comments}}</p>
        {% endfor %}
    {% else %}
        <p>{{ toxic.name}} has no comments yet.</p>
    {% endif %}
</div>

    <div class="col s6">
    <!-- new code below -->
        <form action="{% url 'add_rating' toxic.id %}" method="post">
            {% csrf_token %}
            {{ rating_form.as_p }}
            <input type="submit" class="btn" value="Add Comment">
        </form>
    </div>

    <div class="card-action">
        <a href="{% url 'toxics_update' toxic.id %}">Edit</a>
        <a href="{% url 'toxics_delete' toxic.id %}">Delete</a>

</div>

{% endblock %}