body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  font-family: "Spartan", sans-serif;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  font-size: 0.5rem;
}

a {
  text-decoration: none;
  color: rgb(126, 103, 70);
}
a:hover {
  color: rgb(190, 150, 74);
}

img {
  height: 400px;
  width: 300px;
}

.page-title-contianer {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-family: "Spartan", sans-serif;
  color: rgb(68, 59, 4);
}

/* login page */

/* HOME PAGE */
.home-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  /* background-color: black; */
  height: 100vh;
  /* background-color: rgb(0, 0, 0); */
}

.home-title {
  color: rgb(123, 165, 107);
  font-size: 5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.home-subheading {
  margin: 20px;
  color: rgb(190, 150, 74);
}

/*  list toxic plants page */

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 20px 10px;
  padding: 20px;
  /* background-color: black; */
  text-align: center;
}

.box {
  height: 500px;
  width: 300px;
}

/*  details page */

.details-main-container {
  display: flex;
  flex-flow: row nowrap;
  /* background-color: purple; */
}

.detail-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  width: fit-content;
  margin-top: 30px;
  /* background-color: red; */
}

.detail-upload-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  /* background-color: yellow; */
}

.detail-info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  width: 50%;
  margin-left: 50px;
  margin-bottom: 50px;
  /* background-color: blue; */
}

.comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  /* background-color: green; */
  padding: 100px;
  text-align: center;
  border: 2px solid rgba(185, 185, 185, 0.582);
}

.edit-delete-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: row;
  /* background-color: aquamarine; */
}

/* supply details page */
.detail-supply-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.edit-delete-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  /* background-color: aquamarine; */
}

.edit-btn {
  margin-right: 10px;
}

.choose-file {
  margin: 0;
}

.upload-btn {
  margin: 0;
}

.comments {
  /* background-color: aqua; */
  margin-top: 50px;
  width: fit-content;
  border-bottom: 2px rgb(214, 212, 212) solid;
}

/* ADD AND EDIT FORM */

.add-edit-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  border: none;
  text-align: center;
}

/* herb detail page */
@media only screen and (min-width: 1426px) {
/* animation */
.ball-container{
  display: flex;
  justify-content: flex-start;


}
.ball {
  margin-left: 80px;
  background-color: green;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  10% {
    height: 50px;
    width: 50px;
  }
  30% {
    height: 50px;
    width: 40px;
  }
  50% {
    height: 30px;
    width: 57px;
    transform: translateY(460px);
  }
  75% {
    height: 50px;
    width: 57px;
  }
  100%{
    transform: translateY(0px);
  }
}


}

@media only screen and (max-width: 1024px){
  .home-title-container {
    flex-flow: column wrap;
  }
  .home-subheading{
    font-size: 2rem;
  }
  
}


@media only screen and (max-width: 768px){

  .home-title{
    font-size: 3rem;
  }
  .home-title-container {
    flex-flow: column wrap;
  }
  .home-subheading{
    font-size: 1rem;
  }
  .details-main-container{
    flex-flow: column wrap;
  }
  .detail-info-container{
    margin-top: 30px;
    width: auto;
  }
  .comments-container{
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
    margin-bottom: 30px;
  }
 .comments{
    width: 50%;
  }
}
@media only screen and (max-width: 415px){

  .home-title{
    font-size: 2rem;
    padding: 10px;
  }
  .home-subheading{
    font-size: .8rem;
  }
  .details-main-container{
    flex-flow: column wrap;
  }
  .detail-info-container{
    margin-top: 30px;
    width: auto;
  }
  .comments-container{
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
    margin-bottom: 30px;
  }
 .comments{
    width: 50%;
  }
  .page-title-text{
    font-size: 1.5rem;
  }
  
}
@media only screen and (max-width: 300px){

  .home-title{
    font-size: 1.5rem;
    padding: 10px;
  }
  .details-main-container{
    flex-flow: column wrap;
  }
  .detail-info-container{
    margin-top: 30px;
    width: auto;
  }
  .comments-container{
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
    margin-bottom: 30px;
  }
 .comments{
    width: 50%;
  }
  .page-title-text{
    font-size: 1.5rem;
  }
}