{% extends 'base.html' %}
{% block content %}


<div class="card">
    <div class="card-body">
      <div class="page-title-contianer">
          <h2 >{{ herb.name }} Details</h2>
      </div>

<div class="details-main-container">

<div class="detail-photo-container">
    {% for photo in herb.herbphoto_set.all %}
         <img class="img-thumbnail" src="{{photo.url}}">
    {% empty %}
        <div class="">No Photos Uploaded</div>
    {% endfor %}

 <div class="detail-upload-container">
    <form action="{% url 'addherb_photo' herb.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    
            {% csrf_token %}
            <input  class="form-control choose-file" type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn btn-light upload-btn" value="Upload Photo">
    </form>
</div>
</div>

<div class="detail-info-container">
    <h5>Description:</h5>
    <p>{{ herb.description }}</p>

    <div class="edit-delete-container">
        <div class=edit-btn>
        <a href="{% url 'herbs_update' herb.id %}">Edit</a>
        </div>
        <a href="{% url 'herbs_delete' herb.id %}">Delete</a>
    </div>
    </div>
</div>
</div>




 

<div class="comments-container">
<div class="row">
  <div class="col s6">
    <h3 >{{ herb.name }}'s Supplies</h3>
    {% if herb.addons.count %}
      {% for addon in herb.addons.all %}
        <div class="card">
          <div class="card-body">
            <span class="card-title">
               <span style="color: {{ addon.color }}">{{ addon.color }}</span> {{ addon.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Supplies :(</h5>
    {% endif %}
  </div>
</div>
</div>


<div class="comments-container">
<div class="col s6">
    <h3>Available Supplies</h3>
    {% if addons.count %}
      {% for addon in addons.all %}
        <div class="card">
          <div class="card-body">
            <span class="card-title">
               <span style="color: {{ addon.color }}">{{ addon.color }}</span> {{ addon.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_addon' herb.id addon.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-light">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{herb.name}} Already Has All Addons Available</h5>
    {% endif %}
  </div>
</div>
{% endblock %}
